BeautifulSoup==3.2.1
Django==1.4
South==0.7.5
django-easy-maps==0.7.2
django-tastypie==0.9.11
geopy==0.94.2
mechanize==0.2.5
mimeparse==0.1.3
psycopg2==2.4.5
python-dateutil==1.5
virtualenv==1.7.1.2
virtualenv-clone==0.2.4
virtualenvwrapper==3.5
wsgiref==0.1.2
yolk==0.4.3
