<!DOCTYPE html>

<!-- begin doc -->
<html lang="en">

<!-- begin header -->
<head>

<!-- begin meta -->
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>

{% block description %}
<meta name="description" content="A working title, MadSafety uses Python to scrape a table of Madison Police Department incident reports and display the content to the user. From the list of reports, a user can click through to see the location of the incident and read the details. Incident reports from the Madison Fire Department will be added soon." />
{% endblock %}

{% block keywords %}
<meta name="keywords" content="Madison Police Department, Madison Fire Department, Incident Reports, Madison Wis, Madison crimes, Madison fires, public safety" />

{% endblock %}
<!-- end meta -->

<!-- begin css  -->
<link rel="stylesheet" href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="/static/css/styles.css">
<!-- end css  -->

<!-- begin scripts -->
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<!-- end scripts -->

</head>
<!-- end header -->

<!-- begin body -->
<body>

{% block container %}
<div class="container">

<!-- begin navigation -->
<div id="main-navigation">
<ul>
<li><a class="centered btn btn-large btn-success" href="/"><i class="icon-home icon-white"></i> Home</a></li>
<li><a class="centered btn btn-large btn-success" href="/about/"><i class="icon-question-sign icon-white"></i> About</a></li>
<li><a class="centered btn btn-large btn-success" href="/incidents/"><i class="icon-map-marker icon-white"></i> Police Reports</a></li>
<li><a class="centered btn btn-large btn-success" href="/incidents/search/"><i class="icon-search icon-white"></i> Search</a></li>
<li><a class="centered btn btn-large btn-success" href="/api/v1/incident/?format=json" target="_blank"><i class="icon-globe icon-white"></i> JSON</a></li>
</ul>
</div>

{% block content %}

{% block page-header %}{% endblock page-header %}

{% block exports %}{% endblock exports %}

{% endblock content %}

<!-- begin footer -->
<div id="footer"></div>
<!-- begin footer -->

</div>
{% endblock container %}

<script type="text/javascript" src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js"></script>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
<script type="text/javascript" src="http://madsafety.nwsmkr.com/static/scripts/sorttable.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32883064-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
<!-- end body -->

</html>
<!-- end doc -->