<!-- begin scripts -->
<script type="text/javascript">

    $(document).ready(function(){
		writeMap();
	});

	function writeMap() {

        var latlng = new google.maps.LatLng({{ incident.latitude }}, {{ incident.longitude }});

		var myOptions = {
			zoom: 15,
			center: latlng,
            scrollwheel: false,
            draggable: true,
            mapTypeControl: false,
            navigationControl: true,
            streetViewControl: false,
            panControl: false,
            scaleControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            navigationControlOptions: {
                style: google.maps.NavigationControlStyle.SMALL,
                position: google.maps.ControlPosition.RIGHT_TOP}
            };
		
		var map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);

        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: '{{ incident.typeDetails }}' + ' \n' + '{{ incident.addressDetails }}'
        });

	}
</script> 
<!-- end  scripts -->

<!-- write map -->
<div id="map-display">
<div id="map_canvas"></div>
</div>
<!-- end map -->