{% with map.latitude|stringformat:"f" as lat %}
{% with map.longitude|stringformat:"f" as long %}

{% block api_js %}

    <!-- google maps api javascript -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

{% endblock %}

<!-- begin html -->
{% block html %}
<div id="map-canvas-{{ map.pk }}"
        
    {% if width and map.latitude and not map.geocode_error %}
    style="width: {{ width }}px; height: {{ height }}px; margin: 5px auto 5px auto;"
    {% endif %}
    
    class="easy-map-googlemap">
    
    {% block noscript %}
    <noscript>
    <img alt="Map of {{ map.address }}" src="http://maps.google.com/maps/api/staticmap?center={{ lat }},{{ long }}&zoom={{ zoom }}&markers={{ lat }},{{ long }}&size={{ width }}x{{ height }}&sensor=false">
    </noscript>
    {% endblock noscript %}
</div>
{% endblock %}
<!-- end html -->

<!-- begin scripts -->
{% block map_js %}

<script type="text/javascript">

    $(document).ready(function(){
        initialize_map_{{ map.pk }}();
    });
    
    function initialize_map_{{ map.pk }}() {
        var latlng = new google.maps.LatLng({{ lat }}, {{ long }});

        var mapElem = document.getElementById("map-canvas-{{ map.pk }}");
        
        {% block map_options_js %}
        var mapOptions = {
            zoom: {{ zoom }},
            center: latlng,
            scrollwheel: false,
            draggable: true,
            mapTypeControl: false,
            navigationControl: true,
            streetViewControl: false,
            panControl: false,
            scaleControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            navigationControlOptions: {
                style: google.maps.NavigationControlStyle.SMALL,
                position: google.maps.ControlPosition.RIGHT_TOP}
            };
        {% endblock %}

        var map = new google.maps.Map(mapElem, mapOptions);

        {% block extra_js %}
        
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: "{{ map.address }}"
        });
        {% endblock %}
    }

    {% block map_loading_js %}{% endblock %}

    </script>
{% endblock %}
<!-- end  scripts -->

{% endwith %}

{% endwith %}