<!-- begin scripts -->
<script type="text/javascript">

// called from include

    $(document).ready(function(){
		writeMap();
	});

	function writeMap() {

    	var infowindow;
    	var infoWindowContent = '';

		var myOptions = {
			zoom: 11,
			center: new google.maps.LatLng(43.0730517, -89.4012302),
            scrollwheel: false,
            draggable: true,
            mapTypeControl: false,
            navigationControl: true,
            streetViewControl: false,
            panControl: false,
            scaleControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            navigationControlOptions: {
                style: google.maps.NavigationControlStyle.SMALL,
                position: google.maps.ControlPosition.RIGHT_TOP}
            };
		
		var map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);
        
		{% for addr in incident_listing %}

            var latlng = new google.maps.LatLng({{ addr.latitude }}, {{ addr.longitude }});

            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title: '{{ addr.typeDetails }}'
                });

/*
            google.maps.event.addListener(marker, 'click', function() {
                if(infowindow) infowindow.close();
                else infowindow = new google.maps.InfoWindow();
                infoWindowContent = infowindow.setContent('{{ addr.typeDetails }}');	
                infowindow.setPosition(latlng);
                infowindow.open(map);	
            });
*/

		{% endfor %}

	}
</script> 
<!-- end  scripts -->

	<!-- write map -->
	<div id="map-display">	
		<div id="map_canvas"></div>
	</div>
	<!-- end map -->