{% extends 'base.html' %}

<title>{% block title %}Search | MadSafety{% endblock %}</title>

{% block description %}
<meta name="description" content="Search MadSafety Incident Reports" />
{% endblock %}

{% block keywords %}
<meta name="keywords" content=">{{ incident.typeDetails }}, Madison Police Department, Madison Fire Department, Incident Reports, Madison Wis, Madison crimes, Madison fires, public safety" />
{% endblock %}

{% block content %}

{% block page-header %}
<div class="page-headers">
<h1>Search Madison Police Department Incident Reports</h1>
</div>
{% endblock page-header %}

<!-- begin incident content -->
<div class="incident-content">

<!-- begin form -->
<form class="well form-search" method="get" action=".">
<span class="help-block">Search for incidents reports available in the MadSafety database.</span>
<input type="text" name="q" id="id_q" class="span4"> 
<!-- <input type="checkbox" name="models" value="madcrime.incident" id="id_models_0"> -->
<input class="btn" type="submit" value="Submit">
</form>
<!-- end form -->

<!-- begin results table -->
{% if query %}
<h3>Search Results</h3>
<table id="incident-table" class="sortable table table-striped">
<thead>
<tr>
<th class="sorted">Date</th>
<th class="sorted">Incident</th>
</tr>
</thead>
<tbody>

{% for result in page.object_list %}
<tr>
<td>{{ result.object.dateDetails }}</td>
<td><a href="/incidents/{{ result.object.id }}"><strong> {{ result.object.typeDetails }} </strong></a><br /> {{ result.object.detailsDetails|truncatewords:25 }}</td>
</tr>

{% endfor %}
</tbody>
</table>
<!-- end results table -->

<!-- begin pagination -->
{% if page.has_previous or page.has_next %}
<div>
<ul class="pager">

{% if page.has_previous %}
<li class="previous"><a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">Previous</a></li>
{% endif %}

{% if page.has_next %}
<li class="next"><a href="?q={{ query }}&amp;page={{ page.next_page_number }}">Next</a></li>
{% endif %}

</ul>
</div>
{% endif %}

{% else %}
{# Show some example queries to run, maybe query syntax, something else? #}
<!-- end pagination -->

{% endif %}
<!-- end query -->

</div>
{% endblock content %}